<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'register.css' %}">
  <title>Register</title>
</head>
<body>
  <div class="container">
    <form action="" method="POST" id="regForm" class="form">
    {% csrf_token %}
      <h2>Register Now!</h2>
      <div class="form-control">
        <label for="username">Username</label>
        {{form.username}}
        <small>Error Message</small>
      </div>
      <div class="form-control">
        <label for="email">Email</label>
        {{form.email}}
        <small>Error Message</small>
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        {{form.password1}}
        <small>Error Message</small>
      </div>
      <div class="form-control">
        <label for="password2">Confirm Password</label>
        {{form.password2}}
        <small>Error Message</small>
      </div>
      <button type="submit">Submit</button>
    </form>
    <center style="margin-bottom: 50px!important"><a href="/login" >Login</a></center>
    {% if form.errors %}
        <div class="warning-alert" role="alert">
            {% for field, error in form.errors.items  %}
            {{error}}
            {% endfor %}
        </div>
    {% endif %}
  </div>
</body>
</html>